<h1>Welcome!</h1>
<p>Please Enter your Adress</p>
<%= form_tag solar_data_solar_data_path do %>
  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div>

  <%= submit_tag %>
<% end %>
